<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
    <title>DASH Live Stream</title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style lang="css">
        #fluid-player-e2e-case {
            width: 90%;
        }
    </style>
</head>
<body>

<video id="hls-video">
    <source src="https://streaming.gruporba.com.br/rba.m3u8" type="application/x-mpegURL"/>
</video>


<%= htmlWebpackPlugin.tags.bodyTags %>

<script type="text/javascript" src="./hls-demo.js"></script>
<script type="text/javascript" src="./hls.min.js"></script>

<script>
    fluidPlayer(
        'hls-video',
        {
            layoutControls: {
                fillToContainer: true
            }
        }
    );
    </script>

</body>
</html>