html {
    height: 100%;
}
body { 
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    height:100%;
    min-height:100%;
    margin: 0px;
}
.tit01{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    float: left;
    width: 100%;
}
.logos{
    width: 33.333%;
    float: left;
    text-align: center;
    margin: 5px 0px;
}
.logos img{
    max-width: 80%;
    padding-bottom: 7px;
    border-bottom: solid 1px #fff;
}
.logos a{
    color: #fff;
    text-decoration: none;
}
.espera{
    opacity: .2;
}
.espera:hover{
    opacity: 1;
}
.radio{
    width: 100%;
    float: left;
    /*    margin-top: 5px;*/
    /*    margin-bottom: 10px;*/
    /*    margin-left: 10px;*/
    /*    position: absolute;*/
    bottom: 30px;
}
.mejs__controls{
    position: relative;
}
.mejs__controls:not([style*='display: none']) {
    background: rgba(255, 0, 0, 0.7);
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0));
}
.mejs__container, .mejs__controls{
    height: auto!important;
    background-color: #0000;
}
.conteudo{
    width: 94%;
    min-width: 280px;
    max-width: 800px;
    background-color: #0003;
    margin: auto;
    display: flow-root;
    margin-top: 10px;
}

.rodape{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-bottom: 5px;
}
.rodape img{
    width: 150px;
}

.mejs__button.mejs__play,.mejs__button.mejs__pause{
    margin: 10px auto;
    width: 100px;
    height: 100px;
}
.mejs__button > button{
    background: none;
}
.mejs__button.mejs__playpause-button.mejs__play{
    background-image: url(bot_play.png);
    background-size: contain;
}
.mejs__button.mejs__playpause-button.mejs__pause{
    background-image: url(bot_pause.png);
    background-size: contain;
}
.mejs__time.mejs__currenttime-container, .mejs__time-rail, .mejs__time.mejs__duration-container{
    display: none;
}
.mejs__button.mejs__volume-button{
    width: 36px!important;
    height: 33px!important;
    float: left;
    margin: 4px 20px 10px 30px;
    /*    margin-left: 30px;*/
}
.mejs__button.mejs__volume-button.mejs__mute{
    background-image: url(bot_mais_som.png);
}
.mejs__button.mejs__volume-button.mejs__unmute{
    background-image: url(bot_menos_som.png);
}
.mejs__horizontal-volume-slider{
    display: block;
    float: left;
    /*    margin-top: 16px;*/
    width: calc(100% - 126px);
}
.mejs__horizontal-volume-total{
    width: 100%;
    background-color: #222
}
.bolavolume{
    width: 16px;
    height: 16px;
    background-color: #ccc;
    position: absolute;
    right: -8px;
    top: -4px;
    border-radius: 100%;
}
.volume_celular{
    /*
    float: left;
    margin-left: 19px;
    display: table!important;
    */
    margin: 10px auto;
}
.volume_celular button, .separador{
    background-color: #fff3;
    border: solid 1px #fff;
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 0px 5px;
    float: left;
}
#botcel{
    display: none;
}
.botmenu{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.linksmenu{
    background-color: #ccc;
}

.topoportal{
    width: 100%;
    background-color: #050f2b;
    text-align: center;
    padding: 5px;
}
.logoportal{
    width: 150px;
}
@media (max-width: 500px){
    .logos{
        width: 50%;
    }
    .mejs__button.mejs__play, .mejs__button.mejs__pause {
        margin: 10px auto;
        width: 70px;
        height: 70px;
    }
}