html, body {
    height: 100%;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.video-js {
    width: 100%;
    height: 100%;
}

.watch {
    background: black;
    font-size: 26px;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    vertical-align: center;
    line-height: 100vh;
    color: whitesmoke;
    text-decoration: none;
    padding-top: 55px;
}

.watch:hover {
    color: #ff8383;
}

.watch img.play,
.watch img.loading,
.watch span.wait {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -60px;
    line-height: normal;
}

.watch img.loading {
    animation: rotation 5s infinite linear;
}

.watch span.wait {
    font-weight: bold;
    font-size: 14px;
    color: #ff8383;
}

.grecaptcha-badge {
    visibility: hidden;
}

@media only screen and (max-width: 604px) {
    .watch {
        font-size: 15px;
    }
}

@keyframes rotation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}