.clappr-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  [data-player] .play-wrapper p {
      color: white;
      padding: 30px;
      text-transform: uppercase;
  }
  
  .container[data-container] {
      position: absolute;
      background-color: #000;
      height: 100%;
      width: 100%;
      max-width: 100%
  }
  
  .container[data-container] .chromeless {
      cursor: default
  }
  
  [data-player]:not(.nocursor) .container[data-container]:not(.chromeless).pointer-enabled {
      cursor: pointer
  }
  
  [data-player] {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      overflow: hidden;
      font-size: 100%;
      font-family: Roboto, Open Sans, Arial, sans-serif;
      text-shadow: 0 0 0;
      box-sizing: border-box
  }
  
  [data-player] a,
  [data-player] abbr,
  [data-player] acronym,
  [data-player] address,
  [data-player] applet,
  [data-player] article,
  [data-player] aside,
  [data-player] audio,
  [data-player] b,
  [data-player] big,
  [data-player] blockquote,
  [data-player] canvas,
  [data-player] caption,
  [data-player] center,
  [data-player] cite,
  [data-player] code,
  [data-player] dd,
  [data-player] del,
  [data-player] details,
  [data-player] dfn,
  [data-player] div,
  [data-player] dl,
  [data-player] dt,
  [data-player] em,
  [data-player] embed,
  [data-player] fieldset,
  [data-player] figcaption,
  [data-player] figure,
  [data-player] footer,
  [data-player] form,
  [data-player] h1,
  [data-player] h2,
  [data-player] h3,
  [data-player] h4,
  [data-player] h5,
  [data-player] h6,
  [data-player] header,
  [data-player] hgroup,
  [data-player] i,
  [data-player] iframe,
  [data-player] img,
  [data-player] ins,
  [data-player] kbd,
  [data-player] label,
  [data-player] legend,
  [data-player] li,
  [data-player] mark,
  [data-player] menu,
  [data-player] nav,
  [data-player] object,
  [data-player] ol,
  [data-player] output,
  [data-player] p,
  [data-player] pre,
  [data-player] q,
  [data-player] ruby,
  [data-player] s,
  [data-player] samp,
  [data-player] section,
  [data-player] small,
  [data-player] span,
  [data-player] strike,
  [data-player] strong,
  [data-player] sub,
  [data-player] summary,
  [data-player] sup,
  [data-player] table,
  [data-player] tbody,
  [data-player] td,
  [data-player] tfoot,
  [data-player] th,
  [data-player] thead,
  [data-player] time,
  [data-player] tr,
  [data-player] tt,
  [data-player] u,
  [data-player] ul,
  [data-player] var,
  [data-player] video {
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline
  }
  
  [data-player] table {
      border-collapse: collapse;
      border-spacing: 0
  }
  
  [data-player] caption,
  [data-player] td,
  [data-player] th {
      text-align: left;
      font-weight: 400;
      vertical-align: middle
  }
  
  [data-player] blockquote,
  [data-player] q {
      quotes: none
  }
  
  [data-player] blockquote:after,
  [data-player] blockquote:before,
  [data-player] q:after,
  [data-player] q:before {
      content: "";
      content: none
  }
  
  [data-player] a img {
      border: none
  }
  
  [data-player]:focus {
      outline: 0
  }
  
  [data-player] * {
      max-width: none;
      box-sizing: inherit;
      float: none
  }
  
  [data-player] div {
      display: block
  }
  
  [data-player].fullscreen {
      width: 100%!important;
      height: 100%!important;
      top: 0;
      left: 0
  }
  
  [data-player].nocursor {
      cursor: none
  }
  
  .clappr-style {
      display: none!important
  }
  
  [data-html5-video] {
      position: absolute;
      height: 100%;
      width: 100%;
      display: block
  }
  
  .clappr-flash-playback[data-flash-playback] {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none
  }
  
  [data-html-img] {
      max-width: 100%;
      max-height: 100%
  }
  
  [data-no-op] {
      position: absolute;
      height: 100%;
      width: 100%;
      text-align: center
  }
  
  [data-no-op] p[data-no-op-msg] {
      position: absolute;
      text-align: center;
      font-size: 25px;
      left: 0;
      right: 0;
      color: #fff;
      padding: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      max-height: 100%;
      overflow: auto
  }
  
  [data-no-op] canvas[data-no-op-canvas] {
      background-color: #777;
      height: 100%;
      width: 100%
  }
  
  .spinner-three-bounce[data-spinner] {
      position: absolute;
      margin: 0 auto;
      width: 70px;
      text-align: center;
      z-index: 999;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%)
  }
  
  .spinner-three-bounce[data-spinner]>div {
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both
  }
  
  .spinner-three-bounce[data-spinner] [data-bounce1] {
      -webkit-animation-delay: -.32s;
      animation-delay: -.32s
  }
  
  .spinner-three-bounce[data-spinner] [data-bounce2] {
      -webkit-animation-delay: -.16s;
      animation-delay: -.16s
  }
  
  @-webkit-keyframes bouncedelay {
      0%,
      80%,
      to {
          -webkit-transform: scale(0);
          transform: scale(0)
      }
      40% {
          -webkit-transform: scale(1);
          transform: scale(1)
      }
  }
  
  @keyframes bouncedelay {
      0%,
      80%,
      to {
          -webkit-transform: scale(0);
          transform: scale(0)
      }
      40% {
          -webkit-transform: scale(1);
          transform: scale(1)
      }
  }
  
  .clappr-watermark[data-watermark] {
      position: absolute;
      min-width: 70px;
      max-width: 200px;
      width: 12%;
      text-align: center;
      z-index: 10
  }
  
  .clappr-watermark[data-watermark] a {
      outline: none;
      cursor: pointer
  }
  
  .clappr-watermark[data-watermark] img {
      max-width: 100%
  }
  
  .clappr-watermark[data-watermark-bottom-left] {
      bottom: 10px;
      left: 10px
  }
  
  .clappr-watermark[data-watermark-bottom-right] {
      bottom: 10px;
      right: 42px
  }
  
  .clappr-watermark[data-watermark-top-left] {
      top: 10px;
      left: 10px
  }
  
  .clappr-watermark[data-watermark-top-right] {
      top: 10px;
      right: 37px
  }
  
  .player-poster[data-poster] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 998;
      top: 0;
      left: 0;
      background-color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%
  }
  
  .player-poster[data-poster].clickable {
      cursor: pointer
  }
  
  .player-poster[data-poster]:hover .play-wrapper[data-poster] {
      opacity: 1
  }
  
  .player-poster[data-poster] .play-wrapper[data-poster] {
      width: 100%;
      height: 25%;
      margin: 0 auto;
      opacity: .75;
      transition: opacity .1s ease
  }
  
  .player-poster[data-poster] .play-wrapper[data-poster] svg {
      height: 100%
  }
  
  .player-poster[data-poster] .play-wrapper[data-poster] svg path {
      fill: #fff
  }
  
  .media-control-notransition {
      transition: none!important
  }
  
  .media-control[data-media-control] {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9999;
      pointer-events: none
  }
  
  .media-control[data-media-control].dragging {
      pointer-events: auto;
      cursor: -webkit-grabbing!important;
      cursor: grabbing!important;
      cursor: url(<%=baseUrl%>/a8c874b93b3d848f39a71260c57e3863.cur), move
  }
  
  .media-control[data-media-control].dragging * {
      cursor: -webkit-grabbing!important;
      cursor: grabbing!important;
      cursor: url(<%=baseUrl%>/a8c874b93b3d848f39a71260c57e3863.cur), move
  }
  
  .media-control[data-media-control] .media-control-background[data-background] {
      position: absolute;
      height: 40%;
      width: 100%;
      bottom: 0;
      background: linear-gradient(transparent, rgba(0, 0, 0, .9));
      transition: opacity .6s ease-out
  }
  
  .media-control[data-media-control] .media-control-icon {
      line-height: 0;
      letter-spacing: 0;
      speak: none;
      color: #fff;
      opacity: .5;
      vertical-align: middle;
      text-align: left;
      transition: all .1s ease
  }
  
  .media-control[data-media-control] .media-control-icon:hover {
      color: #fff;
      opacity: .75;
      text-shadow: hsla(0, 0%, 100%, .8) 0 0 5px
  }
  
  .media-control[data-media-control].media-control-hide .media-control-background[data-background] {
      opacity: 0
  }
  
  .media-control[data-media-control].media-control-hide .media-control-layer[data-controls] {
      bottom: -50px
  }
  
  .media-control[data-media-control].media-control-hide .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-scrubber[data-seekbar] {
      opacity: 0
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] {
      position: absolute;
      bottom: 7px;
      width: 100%;
      height: 32px;
      font-size: 0;
      vertical-align: middle;
      pointer-events: auto;
      transition: bottom .4s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .media-control-left-panel[data-media-control] {
      position: absolute;
      top: 0;
      left: 4px;
      height: 100%
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .media-control-center-panel[data-media-control] {
      height: 100%;
      text-align: center;
      line-height: 32px
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .media-control-right-panel[data-media-control] {
      position: absolute;
      top: 0;
      right: 4px;
      height: 100%
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button {
      background-color: transparent;
      border: 0;
      margin: 0 6px;
      padding: 0;
      cursor: pointer;
      display: inline-block;
      width: 32px;
      height: 100%
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button svg {
      width: 100%;
      height: 22px
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button svg path {
      fill: #fff
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button:focus {
      outline: none
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-pause],
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-play],
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-stop] {
      float: left;
      height: 100%
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-fullscreen] {
      float: right;
      background-color: transparent;
      border: 0;
      height: 100%
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-hd-indicator] {
      background-color: transparent;
      border: 0;
      cursor: default;
      display: none;
      float: right;
      height: 100%
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-hd-indicator].enabled {
      display: block;
      opacity: 1
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-hd-indicator].enabled:hover {
      opacity: 1;
      text-shadow: none
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-playpause],
  .media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button[data-playstop] {
      float: left
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-duration],
  .media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-position] {
      display: inline-block;
      font-size: 10px;
      color: #fff;
      cursor: default;
      line-height: 32px;
      position: relative
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-position] {
      margin: 0 6px 0 7px
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-duration] {
      color: hsla(0, 0%, 100%, .5);
      margin-right: 6px
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .media-control-indicator[data-duration]:before {
      content: "|";
      margin-right: 7px
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] {
      position: absolute;
      top: -20px;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 25px;
      cursor: pointer
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar] {
      width: 100%;
      height: 1px;
      position: relative;
      top: 12px;
      background-color: #666
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar] .bar-fill-1[data-seekbar] {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #c2c2c2;
      transition: all .1s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar] .bar-fill-2[data-seekbar] {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #005aff;
      transition: all .1s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar] .bar-hover[data-seekbar] {
      opacity: 0;
      position: absolute;
      top: -3px;
      width: 5px;
      height: 7px;
      background-color: hsla(0, 0%, 100%, .5);
      transition: opacity .1s ease
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar]:hover .bar-background[data-seekbar] .bar-hover[data-seekbar] {
      opacity: 1
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar].seek-disabled {
      cursor: default
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar].seek-disabled:hover .bar-background[data-seekbar] .bar-hover[data-seekbar] {
      opacity: 0
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-scrubber[data-seekbar] {
      position: absolute;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      opacity: 1;
      transition: all .1s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-scrubber[data-seekbar] .bar-scrubber-icon[data-seekbar] {
      position: absolute;
      left: 6px;
      top: 6px;
      width: 8px;
      height: 8px;
      border-radius: 10px;
      box-shadow: 0 0 0 6px hsla(0, 0%, 100%, .2);
      background-color: #fff
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] {
      float: right;
      display: inline-block;
      height: 32px;
      cursor: pointer;
      margin: 0 6px;
      box-sizing: border-box
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] {
      float: left;
      bottom: 0
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume] {
      background-color: transparent;
      border: 0;
      box-sizing: content-box;
      width: 32px;
      height: 32px;
      opacity: .5
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume]:hover {
      opacity: .75
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume] svg {
      height: 24px;
      position: relative;
      top: 3px
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume] svg path {
      fill: #fff
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .drawer-icon-container[data-volume] .drawer-icon[data-volume].muted svg {
      margin-left: 2px
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] {
      float: left;
      position: relative;
      overflow: hidden;
      top: 6px;
      width: 42px;
      height: 18px;
      padding: 3px 0;
      transition: width .2s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .bar-background[data-volume] {
      height: 1px;
      position: relative;
      top: 7px;
      margin: 0 3px;
      background-color: #666
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .bar-background[data-volume] .bar-fill-1[data-volume] {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #c2c2c2;
      transition: all .1s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .bar-background[data-volume] .bar-fill-2[data-volume] {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #005aff;
      transition: all .1s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .bar-background[data-volume] .bar-hover[data-volume] {
      opacity: 0;
      position: absolute;
      top: -3px;
      width: 5px;
      height: 7px;
      background-color: hsla(0, 0%, 100%, .5);
      transition: opacity .1s ease
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .bar-scrubber[data-volume] {
      position: absolute;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      opacity: 1;
      transition: all .1s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .bar-scrubber[data-volume] .bar-scrubber-icon[data-volume] {
      position: absolute;
      left: 6px;
      top: 6px;
      width: 8px;
      height: 8px;
      border-radius: 10px;
      box-shadow: 0 0 0 6px hsla(0, 0%, 100%, .2);
      background-color: #fff
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .segmented-bar-element[data-volume] {
      float: left;
      width: 4px;
      padding-left: 2px;
      height: 12px;
      opacity: .5;
      box-shadow: inset 2px 0 0 #fff;
      transition: -webkit-transform .2s ease-out;
      transition: transform .2s ease-out;
      transition: transform .2s ease-out, -webkit-transform .2s ease-out
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .segmented-bar-element[data-volume].fill {
      box-shadow: inset 2px 0 0 #fff;
      opacity: 1
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .segmented-bar-element[data-volume]:first-of-type {
      padding-left: 0
  }
  
  .media-control[data-media-control] .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume] .segmented-bar-element[data-volume]:hover {
      -webkit-transform: scaleY(1.5);
      transform: scaleY(1.5)
  }
  
  .media-control[data-media-control].w320 .media-control-layer[data-controls] .drawer-container[data-volume] .bar-container[data-volume].volume-bar-hide {
      width: 0;
      height: 12px;
      top: 9px;
      padding: 0
  }
  
  .dvr-controls[data-dvr-controls] {
      display: inline-block;
      float: left;
      color: #fff;
      line-height: 32px;
      font-size: 10px;
      font-weight: 700;
      margin-left: 6px
  }
  
  .dvr-controls[data-dvr-controls] .live-info {
      cursor: default;
      font-family: Roboto, Open Sans, Arial, sans-serif;
      text-transform: uppercase
  }
  
  .dvr-controls[data-dvr-controls] .live-info:before {
      content: "";
      display: inline-block;
      position: relative;
      width: 7px;
      height: 7px;
      border-radius: 3.5px;
      margin-right: 3.5px;
      background-color: #ff0101
  }
  
  .dvr-controls[data-dvr-controls] .live-info.disabled {
      opacity: .3
  }
  
  .dvr-controls[data-dvr-controls] .live-info.disabled:before {
      background-color: #fff
  }
  
  .dvr-controls[data-dvr-controls] .live-button {
      cursor: pointer;
      outline: none;
      display: none;
      border: 0;
      color: #fff;
      background-color: transparent;
      height: 32px;
      padding: 0;
      opacity: .7;
      font-family: Roboto, Open Sans, Arial, sans-serif;
      text-transform: uppercase;
      transition: all .1s ease
  }
  
  .dvr-controls[data-dvr-controls] .live-button:before {
      content: "";
      display: inline-block;
      position: relative;
      width: 7px;
      height: 7px;
      border-radius: 3.5px;
      margin-right: 3.5px;
      background-color: #fff
  }
  
  .dvr-controls[data-dvr-controls] .live-button:hover {
      opacity: 1;
      text-shadow: hsla(0, 0%, 100%, .75) 0 0 5px
  }
  
  .dvr .dvr-controls[data-dvr-controls] .live-info {
      display: none
  }
  
  .dvr .dvr-controls[data-dvr-controls] .live-button {
      display: block
  }
  
  .dvr.media-control.live[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar] .bar-fill-2[data-seekbar] {
      background-color: #005aff
  }
  
  .media-control.live[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar] .bar-fill-2[data-seekbar] {
      background-color: #ff0101
  }
  
  .cc-controls[data-cc-controls] {
      float: right;
      position: relative;
      display: none
  }
  
  .cc-controls[data-cc-controls].available {
      display: block
  }
  
  .cc-controls[data-cc-controls] .cc-button {
      padding: 6px!important
  }
  
  .cc-controls[data-cc-controls] .cc-button.enabled {
      display: block;
      opacity: 1
  }
  
  .cc-controls[data-cc-controls] .cc-button.enabled:hover {
      opacity: 1;
      text-shadow: none
  }
  
  .cc-controls[data-cc-controls]>ul {
      list-style-type: none;
      position: absolute;
      bottom: 25px;
      border: 1px solid #000;
      display: none;
      background-color: #e6e6e6
  }
  
  .cc-controls[data-cc-controls] li {
      font-size: 10px
  }
  
  .cc-controls[data-cc-controls] li[data-title] {
      background-color: #c3c2c2;
      padding: 5px
  }
  
  .cc-controls[data-cc-controls] li a {
      color: #444;
      padding: 2px 10px;
      display: block;
      text-decoration: none
  }
  
  .cc-controls[data-cc-controls] li a:hover {
      background-color: #555;
      color: #fff
  }
  
  .cc-controls[data-cc-controls] li a:hover a {
      color: #fff;
      text-decoration: none
  }
  
  .cc-controls[data-cc-controls] li.current a {
      color: red
  }
  
  .seek-time[data-seek-time] {
      position: absolute;
      white-space: nowrap;
      height: 20px;
      line-height: 20px;
      font-size: 0;
      left: -100%;
      bottom: 55px;
      background-color: rgba(2, 2, 2, .5);
      z-index: 9999;
      transition: opacity .1s ease
  }
  
  .seek-time[data-seek-time].hidden[data-seek-time] {
      opacity: 0
  }
  
  .seek-time[data-seek-time] [data-seek-time] {
      display: inline-block;
      color: #fff;
      font-size: 10px;
      padding-left: 7px;
      padding-right: 7px;
      vertical-align: top
  }
  
  .seek-time[data-seek-time] [data-duration] {
      display: inline-block;
      color: hsla(0, 0%, 100%, .5);
      font-size: 10px;
      padding-right: 7px;
      vertical-align: top
  }
  
  .seek-time[data-seek-time] [data-duration]:before {
      content: "|";
      margin-right: 7px
  }
  
  div.player-error-screen {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #cccaca;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .7);
      z-index: 2000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
  }
  
  div.player-error-screen__content[data-error-screen] {
      font-size: 14px;
      color: #cccaca;
      margin-top: 45px
  }
  
  div.player-error-screen__title[data-error-screen] {
      font-weight: 700;
      line-height: 30px;
      font-size: 18px
  }
  
  div.player-error-screen__message[data-error-screen] {
      width: 90%;
      margin: 0 auto
  }
  
  div.player-error-screen__code[data-error-screen] {
      font-size: 13px;
      margin-top: 15px
  }
  
  div.player-error-screen__reload {
      cursor: pointer;
      width: 30px;
      margin: 15px auto 0
  }